* {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  margin: 0;
  text-align: center;
}

/* Navbar - Start */
nav {
  border-bottom: 1px solid seashell;
  display: flex;
  margin: 0 0.05rem 0.05rem;
  max-height: 3rem;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
nav img {
  height: auto;
  height: auto;
  justify-content: flex-start;
  width: 7rem;
}
nav .nav-links {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav .nav-links a {
  padding: 0.5rem;
}
/* Navbar - End */

/* Banner - Start */
#banner {
  align-items: center;
  display: flex;
  margin: 3rem;
  max-height: 32rem;
  max-width: 55rem;
  position: relative;
}
#banner img {
  height: auto;
  position: relative;
  width: 100%;
}
#banner span {
  box-sizing: border-box;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
}
#banner span h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
#banner span h4 {
  font-size: 1.02rem;
}
/* Banner - End */
