* {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  margin: 0;
  text-align: center;
}
h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1.25rem;
}
/* Navbar - Start */
nav {
  border-bottom: 1px solid seashell;
  display: flex;
  margin: 0 0.05rem 0.05rem;
  max-height: 3rem;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
nav img {
  height: auto;
  justify-content: flex-start;
  width: 7rem;
}
.nav-links {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav-links a {
  padding: 0.5rem;
}
/* Navbar - End */

/* Banner - Start */
#banner {
  align-items: center;
  display: flex;
  margin: 3rem;
  max-height: 32rem;
  max-width: 75rem;
  overflow: hidden;
  position: relative;
}
#banner img {
  height: auto;
  width: 100%;
}
#banner span {
  box-sizing: border-box;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
}
/* Banner - End */

/* Tea of the Month - Start */
#tea-month {
  margin: 3rem;
  text-align: center;
}
div.offerings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
div.offer {
  height: 12.5rem;
  margin: 2rem;
  max-width: 18.75rem;
  width: 100%;
}
div.offer img {
  align-self: center;
  height: 100%;
  margin: 0.625rem;
  width: auto;
}
/* Tea of the Month - End */
